In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
uber=pd.read_csv("D:/Uber Request Data.csv")

In [4]:
uber["Request timestamp"] = pd.to_datetime(uber["Request timestamp"], format= '%d/%m/%y %H:%M:%S:%f')

In [6]:
uber["Drop timestamp"] = pd.to_datetime(uber["Drop timestamp"], format= '%d/%m/%y %H:%M:%S:%f')

In [7]:
uber.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47

In [8]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   datetime64[ns]
 5   Drop timestamp     2831 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 316.3+ KB

In [10]:
uber["Request timestamp"] = uber["Request timestamp"].dt.day_name()

In [11]:
uber["Drop timestamp"] = uber["Drop timestamp"].dt.day_name()

In [12]:
uber.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,Monday,Monday
1,867,Airport,1.0,Trip Completed,Monday,Monday
2,1807,City,1.0,Trip Completed,Wednesday,Wednesday
3,2532,Airport,1.0,Trip Completed,Wednesday,Wednesday
4,3112,City,1.0,Trip Completed,Wednesday,Wednesday

In [13]:
# To know what days do requests take place

uber["Request timestamp"].unique()

array(['Monday', 'Wednesday', 'Thursday', 'Friday'], dtype=object)

In [14]:
# To know what days do requests drop

uber["Drop timestamp"].unique()

array(['Monday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', nan],
      dtype=object)

In [15]:
# To know the most requested day

uber["Request timestamp"].value_counts()

Wednesday    2644
Friday       1381
Monday       1367
Thursday     1353
Name: Request timestamp, dtype: int64

In [16]:
# To know the number of each pickup point inthe data.

uber["Pickup point"].value_counts()

City       3507
Airport    3238
Name: Pickup point, dtype: int64

In [17]:
# To know the total number of completed, cancelled and No Cars Available trips

uber["Status"].value_counts()

Trip Completed       2831
No Cars Available    2650
Cancelled            1264
Name: Status, dtype: int64

In [18]:
# To know the Status of trips in each Pick point

uber.groupby("Pickup point")["Status"].value_counts()

Pickup point  Status
Airport       No Cars Available    1713
              Trip Completed       1327
              Cancelled             198
City          Trip Completed       1504
              Cancelled            1066
              No Cars Available     937
Name: Status, dtype: int64

In [19]:
# To know the most day to cancel a trip

uber[uber["Status"]=="Cancelled"]["Request timestamp"].value_counts()

Wednesday    510
Monday       262
Thursday     252
Friday       240
Name: Request timestamp, dtype: int64

In [20]:
# To know the most day to complete a trip

uber[uber["Status"]=="Trip Completed"]["Request timestamp"].value_counts()

Wednesday    1139
Monday        601
Friday        561
Thursday      530
Name: Request timestamp, dtype: int64

In [21]:
# To know how many trips are made in every day according to the Pickup point

uber.groupby("Pickup point")["Request timestamp"].value_counts()

Pickup point  Request timestamp
Airport       Wednesday            1347
              Monday                661
              Friday                629
              Thursday              601
City          Wednesday            1297
              Friday                752
              Thursday              752
              Monday                706
Name: Request timestamp, dtype: int64

In [22]:
# To know the Pickup points for each day

uber.groupby("Request timestamp")["Pickup point"].value_counts()

Request timestamp  Pickup point
Friday             City             752
                   Airport          629
Monday             City             706
                   Airport          661
Thursday           City             752
                   Airport          601
Wednesday          Airport         1347
                   City            1297
Name: Pickup point, dtype: int64